<?php
	$isLocalDevelopment = strpos($_SERVER['HTTP_HOST'], '.loc') !== false;
?>
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>{{title}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

	<meta name="robots" content="{{robots}}">
	<meta name="description" content="{{description}}">
	<meta property="og:locale" content="{{ogLocale}}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ogImage|default('https://xxx/images/fb.jpg')}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">

	<?php if ($isLocalDevelopment): ?>
		<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css?{{'now'|date('Y-m-d-g:ia')}}">
	<?php else: ?>
		<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.min.css?{{'now'|date('Y-m-d-g:ia')}}">
	<?php endif; ?>

	<link rel="stylesheet" type="text/css" media="print" href="../assets/css/print.min.css?{{'now'|date('Y-m-d-g:ia')}}">

	<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon/favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon/favicon@2x.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../assets/images/favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="512x512" href="../assets/images/favicon/favicon-512.png">

	<meta name="theme-color" content="#fff">
	<meta name="msapplication-TileColor" content="#fff">
</head>
<body class="{{bodyClass|default('')}}">
{% block content %}{% endblock %}
</body>
</html>
